{% extends "base.html" %}

{% block content %}
<div class="home-content">
  <div class="row-fluid">
    <div class="span12 jumbotron mast-head">
        <br><br>
        <h1>All things considered in numbers</h1>
        <p class="lead">Can everything be explained in numbers?</p>
        <!--
        <a href="{% if user.is_authenticated %}{% url 'resource_home' %}{% else %}{% url 'registration_register' %}{% endif %}" class="btn btn-danger register-button btn-large"> Register Now <i class="icon-double-angle-right"></i></a> 
        -->
        <!-- Place this tag where you want the widget to render. -->
        <div class="g-person" data-width="304" data-href="//plus.google.com/111664369941456137911" data-rel="author"></div>

        <!-- Place this tag after the last widget tag. -->
        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/platform.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
    </div>
  </div>
</div>
{% endblock %}
